<footer class="pt-4 my-md-5 pt-md-5 container border-top">
  <div class="row">
    <div class="col-6 col-md" *ngFor="let menu of footer.menus">
      <h5>{{menu.title}}</h5>
      <ul class="list-unstyled text-small">
        <li *ngFor="let item of menu.items"><a class="text-muted" [href]="item.link" target="_blank">{{item.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">@ {{footer.copyright.year}}</small>
      <small class="d-block mb-3 text-muted">{{footer.copyright.text}}</small>
    </div>
  </div>
</footer>
